* {
  margin: 0;
  padding: 0;
}
div {
  border: 2px solid blue;
  width: 100vw;
  height: 30vh;
}
img {
  float: left;
  height: 40%;
  width: auto;
}
h1 {
  font-size: 5vh;
}
p {
  font-size: 3vh;
}
